# General
.idea
.pio
backup/

# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
Gemfile.lock
vendor/

# FreeCAD
*.FCStd1
*.FCStd2
*.FCStd3

# KiCAD
fp-info-cache
Goalfinder-backups
*.lck
\#auto_saved_files#